{{ define "main" }}

<section class="section">
<div class="content">
  {{ range sort .Paginator.Pages }}
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <p>
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </p>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
</div>
</section>
{{ end }}
