
{{ define "main" }}
<section class="section">
  <p class="title is-1 has-text-centered has-text-weight-bold is-spaced" >
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </p>
</section>

<section class="section">
<div class="content">
{{ .Content }}
</div>
</section>
{{ end }}
