{{ define "main" }}

<section class="section">
<div class="content">
  <div class="columns">
  {{ range sort .Paginator.Pages }}
  <div class="column is-one-quarter">
  <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="title" href="{{ .RelPermalink }}">{{ .Title }}</p>
      <p class="subtitle" href="{{ .RelPermalink }}">{{ .Name }}</p>
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </div>
  </div>
  </div>
  </div>
  {{ end }}
</div>

  {{ template "_internal/pagination.html" . }}
</div>
</section>
{{ end }}
