<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="page">
        <header class="header">
        {{- partial "header.html" . -}}
        </header>
        <main class="main">
        {{- block "main" . }}{{- end }}
        </main>
        <footer class="footer">
        {{- partial "footer.html" . -}}
        </footer>
        {{- partial "scripts.html" . -}}
        </div>
    </body>
</html>
