{{ define "main" }}

<section class="hero">
  <div class="hero-body">

    <p class="title is-1 has-text-centered has-text-weight-bold is-spaced" >
        {{.Title }}
    </p>
    <p class="subtitle is-6 has-text-centered has-text-weight-light">
        {{.Description }}
    </p>
  </div>
</section>

<section class="section">
<div class="content">
{{ .Content }}
</div>
</section>
{{ end }}
