{{ define "main" }}
<section class="section">
  <p class="title is-2 has-text-centered has-text-weight-bold is-spaced" >
  <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>

<div class="content">
{{ .Content }}
</div>
</section>
{{ end }}

