{{ define "main" }}

<section class="section">
  <p class="title is-1 has-text-centered has-text-weight-bold is-spaced" >
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </p>
{{ partial "docs/post-meta" . }}
</section>

<section class="section">
<div class="content">
{{ .Content }}
</div>
</section>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
