<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
<footer class="footer is-dark">
    <div class="content has-text-centered">
        <p><strong>L52+</strong>, <a href="https://turing.iimas.unam.mx">DCC</a>, <a href="https://www.iimas.unam.mx">IIMAS</a>, <a href="https://www.unam.mx">UNAM</a></p>
        <p><a href="https://www.linkedin.com/groups/14599021/"><ion-icon name="logo-linkedin"></ion-icon></a><a href="https://bsky.app/profile/l52mas.bsky.social"><ion-icon name="logo-twitter"></ion-icon></a> <a href="https://gitlab.com/l52mas"><ion-icon name="logo-github"></ion-icon></a> </p>
    </div>
</footer>
