<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
 <div class="navbar-brand">
    <a class="navbar-item" href="{{.Site.BaseURL}}">
        {{- $logo := resources.Get "images/logo64.png" -}}
        <img style="max-width: 100%; width: auto; height: auto;" src="{{ $logo.RelPermalink }}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
  		{{ range .Site.Menus.main }}
            <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
	</div>

    <div class="navbar-end">
      <div class="navbar-item has_dropdown is-hoverable">
		<a class="navbar-link">
			Languages
		</a>
        <div class="navbar-dropdown">
    	{{ range $.Site.Home.AllTranslations }}
        <a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</nav>

