<!DOCTYPE html>
<html  lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    <meta charset="utf-8">
    <title>{{ partial "docs/title" . }} | {{ .Site.Title -}}</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon/favicon.ico"/>
    {{ hugo.Generator }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{ $style := resources.Get "main.sass" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
	<script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>

    <!-- RSS -->
    {{- with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PZZ0XY53MJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PZZ0XY53MJ');
    </script>


</head>


