<nav class="pager is-center">
    {{if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" class="is-prev"></a>
	{{end}}
    <a href="#" class="is-current">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</a>
    {{ if .Paginator.HasNext }}</a>
    <a href="#" class="is-next"></a>
    {{ end }}
<nav>

