	{{partial "authors.html" (dict "authors" .authors "size" (sub (len .authors) 2))}}: {{.title}}. <em><a href="{{.book.link}}">{{.book.title}}</a>.</em>{{if .vol}}Vol. {{.vol}}{{end}}. pp. {{.pages}}. {{.year}}.

    <div class="is-container-row has-text-right">
			{{ range .links }}
			{{ range $k,$val := . }}
            <a class="button is-capitalized is-link is-small" href="{{$val}}" target="_blank">{{ $k }}</a>
			{{ end }}
			{{ end }}
	</div>
