{{ define "main" }}
<div class="content">
  {{- $filteredPages := where .Pages "Params.status" "!=" "draft" }}
  {{- $sortedPages := ($filteredPages.ByParam "happening").Reverse }}
  {{ $paginator := .Paginate $filteredPages 9}}
  {{- range $index, $page := $paginator.Pages }}

  {{if (eq (mod $index 3) 0) }}
  <div class="columns is-mobile">
  {{ end }}
  
  <div class="column is-one-third">
  <div class="card">
  <div class="card-content">
    <div class="media">
        <div class="media-content">
            <a class="title is-5 has-text-primary" href="{{ .RelPermalink }}">
        {{ if .Params.status }}
            {{ if eq .Params.status "finish" }} 
            <span style="color: red;">⬤</span>
            {{ end }}
            {{ if eq .Params.status "active" }}
            <span style="color: green;">⬤</span>
            {{ end }}
        {{ end }}
                {{ .Params.name }}
            </a>
        </div>
    </div>
    <div class="content">
      <p>
      {{- .Summary -}}
      </p>
      {{ if .Truncated  }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </div>
  </div>
  </div>
  </div>
  {{if (eq (mod (add $index 1) 3) 0) }}
  </div>
  {{ end }}
  {{ end }}
  </div>
  </div>

  <div class="column is-4 is-offset-4">
  {{ template "_internal/pagination.html" . }}
  </div>
</div>
</section>
{{ end }}
