{{ define "main" }}
<section class="section">
<div class="content">
    <p class="title is-4 has-text-primary"><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></p>

{{ .Content }}
</div>
</section>
{{ end }}
