{{ define "main" }}

<section class="section">
<div class="content">
  {{ $paginator := .Paginate .Pages 8}}
  {{- range $index, $page := $paginator.Pages }}

  {{if (eq (mod $index 4) 0) }}
  <div class="columns is-mobile">
  {{ end }}
  
  <div class="column is-one-fifth">
  <div class="card">
  <div class="card-content">
    <div class="media">
        {{ if .Params.img }}
        <div class="media-left">
            <img width="80px" height="80px" src="{{ .Params.img }}" alt="{{.Params.name}}">
        </div>
        {{ end }}
        <div class="media-content">
            <a class="title is-3 has-text-primary" href="{{ .RelPermalink }}">{{ .Params.name }}</a>
            {{ if .Params.twitter }}
            <a class="subtitle is-6 has-text-info" href="https://twitter.com/{{ .Params.twitter }}">@{{ .Params.twitter  }}</a>
            {{ end }}
         </div>
    </div>
    <div class="content">
      {{ if .Params.role }}
           <p class="is-4 has-text-success">{{ (index .Params.role .Lang) }}</p>
      {{ end }}
      {{ if .Params.now }}
           <p class="is-4 has-text-success">{{ (index .Params.now .Lang) }}</p>
      {{ end }}

      <p>
      {{- .Summary -}}
      </p>
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </div>
  </div>
  </div>
  </div>
  {{if (eq (mod (add $index 1) 4) 0) }}
  </div>
  {{ end }}
  {{ end }}
  </div>

  <div class="column is-4 is-offset-4">
  {{ template "_internal/pagination.html" . }}
  </div>
</div>
</section>
{{ end }}
