{{ define "main" }}
<section class="section">
<div class="content">
    <p>
    <figure class="image is-128x128">
          <img class="is-rounded" src="{{ .Params.img }}" alt="{{.Params.name}}">
        </figure>
    </p>
    <p class="title is-4 has-text-primary"><a href="{{ .RelPermalink }}">{{ .Params.name }}</a>
    {{ if .Params.twitter }}
    <a href="https://twitter.com/{{ .Params.twitter }}">/ @{{ .Params.twitter  }}</a></p>
    {{ end }}
      {{ if .Params.role }}
           <p class="subtitle is-6 has-text-success">{{ (index .Params.role .Lang) }}</p>
      {{ end }}
      {{ if .Params.now }}
           <p class="subtitle is-6 has-text-success">{{ (index .Params.now .Lang) }}</p>
      {{ end }}
{{ .Content }}
</div>
</section>
{{ end }}
