{{ define "main" }}
<section class="section">
<div class="content">
  <p>{{ .Title | title }}</p>
  {{ $taxonomies := index .Site.Taxonomies .Page.Type }}
  {{ range $taxonomies }}
    <p><a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a></p>
  {{ end }}
</div>
</section>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
