
<div class="columns">
<div class="column">
{{ with .Date}}
    <p>{{ partial "docs/date" (dict "Date" . "Format" $.Site.Params.BookDateFormat) }}
{{ end }}
{{ if .Params.author}}
{{ if .Params.author_link}}
| <a href='{{.Params.author_link}}'>{{ .Params.author }}</a>
{{ else }}
| <a href='{{ ref . (dict "path" (printf "%s/%s" "/members" .Params.author) ) }}'>{{ .Params.author }}</a>
{{ end }}
{{ end }}</p>
</div>

<div class="column">
{{ range $taxonomy, $_ := .Site.Taxonomies }}
  {{ with $terms := $.GetTerms $taxonomy }}
  <div class="has-text-right">
    {{ range $n, $term := $terms }}{{ if $n }}, {{ end }}
      <a href="{{ $term.RelPermalink }}">{{ $term.Title }}</a>
    {{- end }}
  </div>
  {{ end }}
</div>
{{ end }}
</div>
