{{ define "main" }}

<section class="section">
<div class="content">
	{{ .Scratch.Add "pub_year" (slice)}}
	{{ range $type, $info := $.Site.Data.publications }}
    {{ $.Scratch.Add "pub_year" $info }}
	{{ end }}

	<ol>
	{{ range sort ($.Scratch.Get "pub_year") "year" "desc"}}
			{{ if (ne ($.Scratch.Get "year") .year)}}
                <p class="title has-text-centered">{{ .year }} </p>
				{{ $.Scratch.Set "year" .year }}
			{{ end}}
		<li style="padding-bottom:20px;">{{partial "publication.html" . }}</li> 
	{{ end }}
	</ol>
</div>
</section>

{{ end }}
